.my-reviews-container {
  width: 1120px;
  margin: 0 auto;
  height: auto;
  border-radius: 4px;
  margin-top: 80px;
  margin-bottom: 100px;
  padding: 30px 0 60px 0;
  background-color: var(--card-background);

  &  h1 {
    width: 428px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 68px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--pure-white);
  }

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}
